body {
	background-color: #E3FFFF;
}

.main-contents {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: auto;
	width: auto;
}

.comment-box {
	width: auto;
	height: auto;
}

.header {
	text-align: left;
}


.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}